html {
  scroll-padding-top: 70px; /* ajusta o offset para todos os links de âncora */
}

.card-img-fixed {
  width: 100%;
  height: 250px; /* altura padrão para desktop */
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {
  .card-img-fixed {
    height: 180px; /* altura menor em tablets/celulares */
  }
}

@media (max-width: 576px) {
  .card-img-fixed {
    height: 150px; /* altura ainda menor em celulares pequenos */
  }
}

/* Faz o modal ocupar a tela inteira */
.modal-fullscreen-vertical .modal-dialog {
  height: 90vh;
}

.modal-fullscreen-vertical .modal-content {
  height: 100%;
}

.modal-fullscreen-vertical iframe {
  width: 100%;
  height: 100%;
  border: none;
}
